.test1 {
    html {
      width: auto !important;
      overflow-x: hidden !important;
    }    
}

.test2 {
    body {
      width: auto !important;
      overflow-x: hidden !important;
    }
}

.subsytem {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.font {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    width: 100%;
    height: 500px;
    line-height: 1px;
}
